$light: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 0%);
$darkgray: hsl(36, 87%, 42%);
$mint: hsl(44, 71%, 51%);
$darkmint: hsl(318, 56%, 57%);
$mintshadow: hsl(315, 100%, 75%);
$lightgray: hsl(0, 0%, 83.8%);
$red: hsl(0, 100%, 40%);